.custom-select {
  width: 30%;
}

.container {
  margin: auto;
  width: 70%;
  border: 1px dotted darkviolet;
  position: relative;
}

.show-page {
  border: 1px dotted black;
  margin: auto;
  text-align: center;
  width: 70%;
}